.dg.main.taller-than-window .close-button {
    border-top: 0px solid #ddd;
}

.dg.main .close-button {
    background-color: #202020;
    visibility: hidden;
}

.dg.main .close-button:hover {
    background-color: #252525;
}

.dg {
    color: #d1d1d1;
    text-shadow: none !important;
}

.dg.main::-webkit-scrollbar {
    background: #303030;
}

.dg.main::-webkit-scrollbar-thumb {
    background: #bbb;
}

.dg li:not(.folder) {
    background: #303030;
    border-bottom: 1px solid #ddd;
}

.dg li.save-row .button {
    text-shadow: none !important;
}

.dg li.title {
    background: #454545 url(data:image/gif;base64,R0lGODlhBQAFAJEAAP////Pz8////////yH5BAEAAAIALAAAAAAFAAUAAAIIlI+hKgFxoCgAOw==) 6px 10px no-repeat;
}

.dg .cr.function:hover, .dg .cr.boolean:hover {
    background: #252525;
}

.dg .c input[type=text] {
    background: #202020;
}

.dg .c input[type=text]:hover {
    background: #252525;
}

.dg .c input[type=text]:focus {
    background: #202020;
    color: #202020;
}

.dg .c .slider {
    background: #202020;
}

.dg .c .slider:hover {
    background: #252525;
}